<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>
<a asp-action="SeedMajors" asp-controller="Seed" class="btn btn-info">Seed Majors</a>
<a asp-action="SeedCompanies" asp-controller="Seed" class="btn btn-info">Seed Companies</a>
<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-info">Seed People</a>
<a asp-action="SeedPositions" asp-controller="Seed" class="btn btn-info">Seed Positions</a>
<a asp-action="SeedApplications" asp-controller="Seed" class="btn btn-info">Seed Applications</a>
<a asp-action="SeedInterviews" asp-controller="Seed" class="btn btn-info">Seed Interviews</a>