@model sp23Team33FinalProject.Models.SetDateViewModel

@{
    ViewData["Title"] = "Set App Date";
}

<h1>Set App Date</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetDate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SetDate" class="control-label"></label>
                <input asp-for="SetDate" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RecruitersIndex">Back to List</a>
</div>