@model sp23Team33FinalProject.Models.PositionSearchViewModel

@{
    ViewData["Title"] = "PositionSearch";
}

<h1>Position Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplaySearchResults" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyIDs" class="control-label"></label>
                @Html.ListBoxFor(model => model.CompanyIDs, (MultiSelectList)ViewBag.AllCompanies, new { @class = "form-control" })
            </div>
            <!--
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                Html.DropDownListFor(model => model.CompanyID, (SelectList)ViewBag.AllCompanies, new { class = "form-control" })
            </div>
            -->
            <br />
            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Industry" class="control-label"></label>
                <select asp-for="Industry" asp-items="Html.GetEnumSelectList<Industry>()" class="form-control">
                    <option selected="selected" value="">All Industries</option>
                </select>
                <span asp-validation-for="Industry" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PositionType" class="control-label"></label>
                <select asp-for="PositionType" asp-items="Html.GetEnumSelectList<PositionType>()" class="form-control">
                    <option selected="selected" value="">All Position Types</option>
                </select>
                <span asp-validation-for="PositionType" class="text-danger"></span>
            </div>
            <br />
            <!--
            <div class="form-group">
                <label asp-for="MajorID" class="control-label"></label>
                Html.DropDownListFor(model => model.MajorID, (SelectList)ViewBag.AllMajors, new { class = "form-control" })
            </div>
            -->            
            <div class="form-group">
                <label asp-for="MajorIDs" class="control-label"></label>
                @Html.ListBoxFor(model => model.MajorIDs, (MultiSelectList)ViewBag.AllMajors, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>